.lenser-app-container {
    background-color: #00000050;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.crop-effect {
    position: relative;
    overflow: hidden;
}

.crop-effect img {
    max-width: 100%;
    height:auto;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

#lenser-focal-len-control {
    margin: 20px auto 20px auto;
    text-align: center;
}